.long-button {
    height: 15%;
    width: 1/12;
    position: fixed;
    top: 30%;
    cursor: pointer;
    display: table;

    p {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
    }
}

.long-button-peach {
    background-color: var(--peach);
    float: right;
    right: 0;
    p {
        transform: rotate(90deg);
    }
}

.long-button-blue {
    background-color: var(--blue);
    float: left;
    left: 0;
    p {
        transform: rotate(-90deg);
    }
}