@import "styles.scss";

.long-button {
    height: 100%;
    width: 5rem;
    position: fixed;
    right: 0;
    cursor: pointer;

    h2 {
        height: 100%;
        width: 2rem;
        text-align: center;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2rem;
    }
}

.long-button-peach {
    background-color: $peach;
}

.long-button-blue {
    background-color: $blue;
    @include transform(translateX(calc(-100vw + 5rem)));
    h2 {
        @include transform(scale(-1));
    }
}