
$peach: #FF896F;
$blue: #66C4EC;
$dark: #1b1b1b;
$light: #ffffff;

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}
@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}
@mixin animate($property) {
  -webkit-animation: $property;
  -moz-animation: $property;
  -o-animation: $property;
  animation: $property;
}

* {
  @include transition(all .25s cubic-bezier(0.445, 0.05, 0.55, 0.95))
}

.App {
  text-align: center;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// From index.css
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Root colours and sizes
:root {
  --peach: #FF896F;
  --blue: #66C4EC;
  --dark: #1b1b1b;
  --light: #ffffff;

  --peach-shadow: rgba(255, 137, 111, 0.35);
  --blue-shadow: rgba(102, 196, 236, 0.35);
  font-family: 'Manrope', sans-serif;
  font-size: calc(12px + 0.5vw);
}

// Removing the Chrome onFocus outline 
input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

// Warnings
.error {
  color: $peach;
}

// Shadows
.shadow-peach {
  box-shadow: 0.05rem 0.05rem 0.25rem 0rem var(--shadow-peach);
}

.shadow-blue {
  box-shadow: 0.05rem 0.05rem 0.25rem 0rem var(--shadow-blue);
}

// Buttons
.btn-rect {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  border-style: solid;
  font-weight: 600;

  &:hover {
    background-color: transparent;
    color: $dark;
    border-color: $dark;
    cursor: pointer;
  }
}

.btn-peach {
  background-color:$peach;
  color: $dark;
  border-color: $peach;
}

.btn-peach-outline {
  background-color: transparent;
  color: $peach;
  border-color: $peach;
}

.btn-blue {
  background-color: $blue;
  color: $dark;
  border-color: $blue;
}

.btn-dark {
  background-color: $dark;
  color: $light;
  border-color: $dark;
}

.btn-blue-outline {
  background-color: transparent;
  color: $blue;
  border-color: $blue;
}

.btn-dark-outline {
  background-color: transparent;
  color: $dark;
  border-color: $dark;
}

.btn-text {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: $dark;
  }
}

.btn-text-black {
  color: $dark;
}

.btn-text-blue {
  color: $blue;
}

// form
.form {
  input, label {
    display: block;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    font-size: 1rem;
    text-align: left;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $dark;

    height: 2rem;
    margin-top: 0.4rem;
  }
  input:required:valid {
    border-bottom: 2px solid $dark;
  }
  input:required {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 2px solid $peach;
  }
  button {
    margin-top: 1rem;
  }
}